EVENTS_PORT=""
EVENTS_HOST=""
KAFKA_HOST=""
EVENTS_COLLECTOR_TOPIC=""
ALLOW_ANONYMOUS_LOGIN=yes/no
ALLOW_PLAINTEXT_LISTENER=yes/no

POSTGRES_SERVER=""
POSTGRES_PASSWORD=""
POSTGRES_USER=""
POSTGRES_DB=""
POSTGRES_PORT=""