EVENTS_PORT=""
EVENTS_HOST=""
KAFKA_HOST=""
EVENTS_COLLECTOR_TOPIC=""
ALLOW_ANONYMOUS_LOGIN=yes/no
ALLOW_PLAINTEXT_LISTENER=yes/no

APP_POSTGRESQL_HOST=""
APP_POSTGRESQL_PASSWORD=""
APP_POSTGRESQL_USER=""
APP_POSTGRESQL_NAME=""
APP_POSTGRESQL_PORT=""